<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="test.css">

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="https://image.ibb.co/jWLd4n/starfinder_logo.png" class="mx-auto d-block" alt="starfinder logo" border="0" />
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-6">
            <p class="section-header display-4"><b>Creature Name</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-right section-header display-5"><b>CR</b> 4 <b>XP</b> 200</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="pb-0">N Large Plant</div>
                        <div class="pb-2"><b>Init: </b>1; <b>Senses: </b>blindsense (scent) 30 ft., low-light vision; <b>Perception: </b>+10</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col col-md-6 pb-0">
                        <p class="section-header"><b>DEFENSE</b></p>
                    </div>
                    <div class="col col-md-6 pb-0">
                        <p class="section-header" class="text-right"><b>HP: </b>52 <b>RP: </b>3</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>EAC: </b>16; <b>KAC: </b>18;</div>
                        <div class="pb-0"><b>Fort </b>+8; <b>Ref </b>+6; <b>Will </b>+3;</div>
                        <div class="pb-2"><b>Defensive Abilities </b>fast healing 2; <b>Immunities </b>plant immunities;</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>OFFENSE</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Speed </b>40 ft., climb 40 ft.;</div>
                        <div class="pb-0"><b>Melee </b>tentacles +12 (1d6+9 B plus ingested adaptation)</div>
                        <div class="pb-0"><b>Ranged </b>acid spit +9 (1d4+4 A) or thorn dart +9 (1d6+4 P plus carrion spores)</div>
                        <div class="pb-0"><b>Space </b>10 ft.; <b>Reach </b>10 ft.</div>
                        <div class="pb-2"><b>Offensive Abilities </b>ingested adaptations</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>STATISTICS</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Str </b>+5; <b>Dex </b>+1; <b>Con </b>+4; <b>Int </b>-1; <b>Wis </b>+3; <b>Cha </b>-1</div>
                        <div class="pb-2"><b>Skills </b>Acrobatics +10, Athletics +15, Survival +10</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>ECOLOGY</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Environment </b>temperate or warm forests (Castrovel)</div>
                        <div class="pb-2"><b>Organization </b>solitary, pack (2–5), or infestation (6–11)</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>SPECIAL ABILITIES</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Acid Spit (Ex) </b>Once every 1d4 rounds as a standard action, a ksarik can spit a glob of acid at a target within 60 feet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
