<!DOCTYPE html>
<html>
<body>

<div class="container-fluid pt-2">
    <div class="row no-gutters">
        <div class="col-md-6">
            <p class="section-header display-5"><b>{{ creature.name }}</b></p>
        </div>
        <div class="col-md-6">
            <p class="text-right section-header display-6"><b>CR</b> {{ creature.cr }} <b>XP</b> {{creature.xp}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="pb-0">{{ creature.alignment }} {{ creature.size }} {{ creature.creature_type }} {{ creature.creature_subtype }}</div>
                        <div class="pb-2"><b>Init: </b>{{ creature.initiative }}; <b>Senses: </b>{% for sense in creature.special_abilities.all %}{% if sense.ability_type == 'SNS' %}{{ sense.title }} {% if sense.subtype %}({{sense.subtype}}){% endif %} {{sense.ability_range}} ft.;{% endif %}{% endfor %} <b>Perception: </b>{{ creature.perception }}</div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col col-md-6 pb-0">
                        <p class="section-header"><b>DEFENSE</b></p>
                    </div>
                    <div class="col col-md-6 pb-0">
                        <p class="section-header" class="text-right"><b>HP: </b>{{ creature.hp }} <b>RP: </b>{{ creature.rp }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>EAC: </b>{{ creature.eac }}; <b>KAC: </b>{{ creature.kac }};</div>
                        <div class="pb-0"><b>Fort </b>+{{ creature.fortitude }}; <b>Ref </b>+{{ creature.reflex }}; <b>Will </b>+{{ creature.will }};</div>
                        <div class="pb-2"><b>Defensive Abilities </b>{% for ability in creature.defensive_abilities.all %}{% if ability.ability_type == 'DEF' %}{{ability.title}}; {% endif %}{% endfor %} <b>Immunities </b>{% for ability in creature.special_abilities.all %}{% if ability.type == 'IMM' %}{{ ability.title }}; {% endif %}{% endfor %}</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>OFFENSE</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Speed </b>{{ creature.speed }} ft.; {% for speed in creature.special_movement.all %}{{ speed.title }} {{ speed.distance }} ft.;{% endfor %}</div>
                        <div class="pb-0"><b>Melee</b>{% for attack in creature.melee_attack %}{% if attack.attack_type == 'M' %} {{ attack.title }} +{{ attack.mod }} ({{ attack.damage }}+{{ attack.damage_mod }} {{ attack.damage_type }}{% if attack.additional_info %} plus {{ attack.additional_info }}{% endif %});{% endfor %}</div>
                        <div class="pb-0"><b>Ranged </b>{% for attack in creature.melee_attack %}{% if attack.attack_type == 'R' %} {{ attack.title }} +{{ attack.mod }} ({{ attack.damage }}+{{ attack.damage_mod }} {{ attack.damage_type }}{% if attack.additional_info %} plus {{ attack.additional_info }}{% endif %});{% endfor %}</div>
                        <div class="pb-0"><b>Space </b>{{ creature.speed }} ft.; <b>Reach </b>{{ creature.reach }} ft.</div>
                        <div class="pb-2"><b>Offensive Abilities </b>{% for ability in creature.special_abilities.all %}{% if ability.ability_type == 'OFF' %}{{ability.title}}; {% endif %}{% endfor %}</div>
                    </div>
                </div>
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>STATISTICS</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Str </b>{% if creature.strength >= 0 %}+{% else %}-{% endif %}{{ creature.strength }}; <b>Dex </b>{% if creature.dexterity >= 0 %}+{% else %}-{% endif %}{{ creature.dexterity }}; <b>Con </b>{% if creature.constitution >= 0 %}+{% else %}-{% endif %}{{ creature.constitution }}; <b>Int </b>{% if creature.intelligence >= 0 %}+{% else %}-{% endif %}{{ creature.intelligence }}; <b>Wis </b>{% if creature.wisdom >= 0 %}+{% else %}-{% endif %}{{ creature.wisdom }}; <b>Cha </b>{% if creature.charisma >= 0 %}+{% else %}-{% endif %}{{ creature.charisma }}</div>
                        <div class="pb-0"><b>Skills </b>{% for skill in creature.skills.all %}{{ skill.title }} {% if skill.modifier >= 0 %}+{% else %}-{% endif %}{{ skill.modifier }}; {% endfor %}</div>
                        {% if creature.language %}<div class="pb-0"><b>Languages </b>{{ creature.language }}</div>{% endif %}
                        <div class="pb-0"><b>Other abilities </b>{% for ability in creature.special_abilities.all %}{% if ability.type == 'OTH' %}{{ ability.title }}; {% endif %}{% endfor %}
                    </div>
                </div>
            {% if creature.environment or creature.organization %}
                <div class="row no-gutters pt-4 pb-0">
                    <div class="col">
                        <p class="section-header"><b>ECOLOGY</b></p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0"><b>Environment </b>{{ creature.environment }}</div>
                        <div class="pb-2"><b>Organization </b>{{ creature.organization }}</div>
                    </div>
                </div>
            {% endif %}
                <div class="row no-gutters pt-2 pb-0">
                    <div class="col">
                        <p class="section-header"><b>SPECIAL ABILITIES</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="pb-0">{% for ability in creature.special_abilities.all %}{% if ability.type == 'OTH' %}<b>{{ ability.title }} ({{ ability.origin }}) </b>{{ ability.description }}{% endif %}{% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
