{% extends 'base.html' %}

{% block content %}

<div class="container-fluid display-3 text-center mb-3" style="color: #003399; border-bottom: solid;">
Creature Creator
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-3 offset-1 text-center">
			<br />
			<h4>Choose a name <br />for your creature</h4>
			<br />
			<form method="POST" action="{% url 'creatureCreator' %}" name="nameForm">
				{% csrf_token %}

				{% for field in form %}

				<div>
					{{ field.errors }}
					{{ field.label_tag }}{{ field }}
					{% if field.help_text %}
						<p class="help-text">{{ field.help_text }}</p>
					{% endif %}
				</div>

				{% endfor %}

				<br />
				<button type="submit" id="uploadButton" class="btn btn-primary" autocomplete="off" style="margin: auto 20%; ">Update Creature</button>
			</form>
		</div>
		<div class="col-7 card">
			<div class="container-fluid">
		    <div class="row no-gutters">
		        <div class="col-6">
		            <p class="section-header display-5"><b>Creature Name</b></p>
		        </div>
		        <div class="col-6">
		            <p class="text-right section-header display-6"><b>CR</b> ? <b>XP</b> ?</p>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col col-wrap">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col">
		                        <div class="pb-0"></div>
		                        <div class="pb-2"></div>
		                    </div>
		                </div>
		            </div>
		            <div class="container-fluid">
		                <div class="row no-gutters pt-2 pb-0">
		                    <div class="col col-6 pb-0">
		                        <p class="section-header"><b>DEFENSE</b></p>
		                    </div>
		                    <div class="col col-6 pb-0">
		                        <p class="section-header text-right"><b>HP: </b> <b>RP: </b></p>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col">
		                        <div class="pb-0"><b>EAC: </b> <b>KAC: </b></div>
		                        <div class="pb-0"><b>Fort </b> <b>Ref </b> <b>Will </b></div>
		                        <div class="pb-2"><b>Defensive Abilities </b> <b>Immunities </b></div>
		                    </div>
		                </div>
		                <div class="row no-gutters pt-2 pb-0">
		                    <div class="col">
		                        <p class="section-header"><b>OFFENSE</b></p>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col">
		                        <div class="pb-0"><b>Speed </b></div>
		                        <div class="pb-0"><b>Melee </b></div>
		                        <div class="pb-0"><b>Ranged </b></div>
		                        <div class="pb-0"><b>Space </b> <b>Reach </b></div>
		                        <div class="pb-2"><b>Offensive Abilities </b></div>
		                    </div>
		                </div>
		                <div class="row no-gutters pt-2 pb-0">
		                    <div class="col">
		                        <p class="section-header"><b>STATISTICS</b></p>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col">
		                        <div class="pb-0"><b>Str </b>+0; <b>Dex </b>+0; <b>Con </b>+0; <b>Int </b>+0; <b>Wis </b>+0; <b>Cha </b>+0</div>
		                        <div class="pb-2"><b>Skills </b></div>
		                    </div>
		                </div>
		                <div class="row no-gutters pt-2 pb-0">
		                    <div class="col">
		                        <p class="section-header"><b>ECOLOGY</b></p>
		                    </div>
		                </div>
		                <div class="row no-gutters pt-2 pb-0">
		                    <div class="col">
		                        <p class="section-header"><b>SPECIAL ABILITIES</b></p>
		                    </div>
		                </div>
		                <div class="row">
		                    <div class="col">
		                        <div class="pb-0"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}