.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
	margin-top: 19px;
}

.col-wrap {
	columns: 2 400px;
	column-rule: 1px dotted #ddd;
	column-fill: auto;
	height: 1200px;
}

.section-header	{
	color:#003399;
	border-bottom: solid;
}